@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
    * {
        font-family: "Poppins", sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    html {
        overflow-y: overlay;
    }

    html ::-webkit-scrollbar {
        width: 6px;
    }

    html ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #0000004d;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    html ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset #fff;
        border-radius: 4px;
    }
}

.product-item:hover .product-item-options {
    position: absolute;
    bottom: 10px;
    transition: all 0.5s ease;
}

.product-action {
    @apply bg-white border border-[#c5cfd6] text-[#2a2a2a] hover:text-white hover:bg-[#2a2a2a] hover:border-[#2a2a2a];
}

.react-tabs__tab--selected {
    @apply text-main outline-none;
}

button.slick-next {
    @apply -right-[72px] w-20 h-20 flex justify-center items-center;
}
button.slick-prev {
    @apply -left-[72px] w-20 h-20 flex justify-center items-center;
}

button.slick-next::before {
    @apply content-['\276F'] text-[#151515] text-5xl flex justify-center items-center hover:text-main;
}
button.slick-prev::before {
    @apply content-['\276E'] text-[#151515] text-5xl flex justify-center items-center hover:text-main;
}

.product-item-favourite {
    @apply absolute top-1 right-[-5px] px-4 text-sm leading-[1.6rem] font-normal text-white;
}

.product-item-favourite::after {
    @apply content-[""] absolute bottom-[-5px] right-0 border-t-[6px] border-r-[6px] border-r-transparent brightness-75;
}
